<%- include("partials/ad_sidebar.ejs"); %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">

<script defer src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script defer src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script defer src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
<script defer src="../public/js/table.js"></script>
<div class="row">
  <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2">
    <!-- Sidebar -->

  </div>
  <div class="col-sm-9 col-md-6 col-lg-8 col-xl-10">
    <table id="example" class="table table-striped" style="width:100%">
      <thead>
        <tr>
          <th>Username</th>
          <th>Password</th>
          <th>Email</th>
          <th>Role</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% account.forEach((acc)=>{%>
            <tr>
              <td><%= acc.username%></td>
              <td><%= acc.password%></td>
              <td><%= acc.email%></td>
              <td>
                <% if (acc.role == '0') {%> Admin
                <%} else if (acc.role == '1') {%> Patient
                <%} else { %> Hospital <%}%>
              </td>
              <td style="text-align: center;">
                <a href="" class="text-success">
                  <i class="fa-solid fa-pencil"></i>
                </a>
                <a href="" class="text-danger">
                  <i class="fa-solid fa-trash"></i>
              </td>
            </tr>
          <% }) %>
      </tbody>
      <tfoot>
        <tr>
          <th>Username</th>
          <th>Password</th>
          <th>Email</th>
          <th>Role</th>
          <th>Action</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>