<form action="addAccount" method="POST">
    <label for="Username">Username</label>
    <input type="text" name="username" id="username" value="">
    <label for="Password">Password</label>
    <input type="text" name ="password" id="password" value="">
    <label for="Email">Email</label>
    <input type="email" name="email" id="email" value="">
    <label for="Role">Role</label>
    <input type="number" name = 'role' id="role" value="">
    <button type="submit"> ddm</button>
</form>