<form action="add" method="post" id="add-form" >
    <label for="Username">Username</label>
    <input type="text" name="username" required>
    <label for="Password">Password</label>
    <input type="text" name ="password" required>
    <label for="Email">Email</label>
    <input type="email" name="email" required>
    <label for="Role">Role</label>
    <input type="number" name='role' required>
    <button type="submit"> send</button>
</form>