<form action="add" method="post" id="add-form" >
    <label for="Username">Username</label required>
    <input type="text" name="username" >
    <label for="Password">Password</label>
    <input type="text" name ="password" >
    <label for="Email">Email</label>
    <input type="email" name="email" >
    <label for="Role">Role</label>
    <input type="number" name='role'>
    <button type="submit"> send</button>
</form>