<%- include("partials/ad_sidebar.ejs"); %>

<div class="row">
  <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2">
    <!-- Sidebar -->
  </div>
  <div class="col-sm-9 col-md-6 col-lg-8 col-xl-10">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Open modal for @mdo</button>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New message</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Username:</label>
                <input type="text" class="form-control" id="recipient-name">
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Hospital ID:</label>
                <textarea class="form-control" id="message-text"></textarea>
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Name: </label>
                <textarea class="form-control" id="message-text"></textarea>
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Address: </label>
                <textarea class="form-control" id="message-text"></textarea>
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">City: </label>
                <textarea class="form-control" id="message-text"></textarea>
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Number: </label>
                <textarea class="form-control" id="message-text"></textarea>
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Email: </label>
                <textarea class="form-control" id="message-text"></textarea>
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Website: </label>
                <textarea class="form-control" id="message-text"></textarea>
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Description: </label>
                <textarea class="form-control" id="message-text"></textarea>
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Avatar: </label>
                <textarea class="form-control" id="message-text"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a><button type="button" class="btn btn-primary" data-bs-dismiss="modal">Send message</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="../public/js/CRUDHospital.js"></script>