<%- include("partials/header"); %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!-- Big title with background  -->
<div class="masthead" style="background-image: url('../../public/images/faq1.png');">
  <div class="color-overlay d-flex justify"></div>
  <div class="container-fluid padding">
    <div class="row welcome text-center">
      <div class="col-12">
        <h1 class="display-6">FAQs</h1>
      </div>
      <div class="col-12>
                <p class=" lead">Answer quick questions to help you better understand our products and services.</p>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid padding">
  <div class="row no-gutters">
    <div class="col-6 col-md-4">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#flush-collapseOne">Link1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#flush-headingTwo">Link2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#flush-headingThree">Link3</a>
        </li>
      </ul>
    </div>
    <div class="col-12 col-sm-6 col-md-8">
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              Accordion Item #1
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              Accordion Item #2
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              Accordion Item #3
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid padding">
  <div class="row no-gutters">
    <div class="col-6 col-md-4">
      <ul class="nav flex-column">
        <li class="active"><a data-toggle="tab" href="#home">Menu 0</a></li>
        <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
        <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
        <li><a data-toggle="tab" href="#menu3">Menu 3</a></li>
      </ul>
    </div>
    <div class="col-12 col-sm-6 col-md-8">
      <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Accordion Item #1
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Accordion Item #2
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                </div>
              </div>
        </div>
        <div id="menu1" class="tab-pane fade">
          <h3>Menu 1</h3>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div id="menu2" class="tab-pane fade">
          <h3>Menu 2</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>
        <div id="menu3" class="tab-pane fade">
          <h3>Menu 3</h3>
          <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- <div class="container-fluid padding">
  <div class="row text-center padding">
    <div id="styles_question__G2gbA" class="styles_container__pVb9x styles_question__G2gbA">
      <div class="ant-row" style="margin-left: -12.5px; margin-right: -12.5px">
        <div class="col-lg-3">
          <div class="ant-col ant-col-24 ant-col-lg-6" style="padding-left: 12.5px; padding-right: 12.5px">
            <h2 class="styles_titleTab__FT7q2">Giải đáp nhanh câu hỏi</h2>
            <ul class="styles_listTab__gnbMM">
              <li class="">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                  <path d="M715.8 493.5L335 165.1c-14.2-12.2-35-1.2-35 18.5v656.8c0 19.7 20.8 30.7 35 18.5l380.8-328.4c10.9-9.4 10.9-27.6 0-37z"></path>
                </svg>
                Vấn đề chung
              </li>
              <li class="">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                  <path d="M715.8 493.5L335 165.1c-14.2-12.2-35-1.2-35 18.5v656.8c0 19.7 20.8 30.7 35 18.5l380.8-328.4c10.9-9.4 10.9-27.6 0-37z"></path>
                </svg>
                Vấn đề tài khoản
              </li>
              <li class="">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                  <path d="M715.8 493.5L335 165.1c-14.2-12.2-35-1.2-35 18.5v656.8c0 19.7 20.8 30.7 35 18.5l380.8-328.4c10.9-9.4 10.9-27.6 0-37z"></path>
                </svg>
                Vấn đề về quy trình đặt khám
              </li>
              <li class="styles_active__SasA4">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                  <path d="M715.8 493.5L335 165.1c-14.2-12.2-35-1.2-35 18.5v656.8c0 19.7 20.8 30.7 35 18.5l380.8-328.4c10.9-9.4 10.9-27.6 0-37z"></path>
                </svg>
                Vấn đề về thanh toán
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="ant-col ant-col-24 ant-col-lg-18" style="padding-left: 12.5px; padding-right: 12.5px">
            <div class="styles_questionContent__Mearp">
              <div class="ant-space ant-space-vertical" style="width: 100%; gap: 8px">
                <div class="ant-space-item">
                  <div class="ant-collapse ant-collapse-icon-position-end" role="tablist">
                    <div class="ant-collapse-item">
                      <div class="ant-collapse-header" aria-expanded="false" aria-disabled="false" role="tab" tabindex="0">
                        <div class="ant-collapse-expand-icon">
                          <span role="img" aria-label="right" class="anticon anticon-right ant-collapse-arrow"><svg viewBox="64 64 896 896" focusable="false" data-icon="right" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                              <path d="M765.7 486.8L314.9 134.7A7.97 7.97 0 00302 141v77.3c0 4.9 2.3 9.6 6.1 12.6l360 281.1-360 281.1c-3.9 3-6.1 7.7-6.1 12.6V883c0 6.7 7.7 10.4 12.9 6.3l450.8-352.1a31.96 31.96 0 000-50.4z"></path>
                            </svg></span>
                        </div>
                        <span class="ant-collapse-header-text">
                          <div class="styles_headerQuestion__60bw7">
                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" class="styles_headerIcon__qhKt2" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                              <path d="M715.8 493.5L335 165.1c-14.2-12.2-35-1.2-35 18.5v656.8c0 19.7 20.8 30.7 35 18.5l380.8-328.4c10.9-9.4 10.9-27.6 0-37z"></path>
                            </svg>
                            Điều kiện để được hoàn tiền là gì?
                          </div>
                        </span>
                      </div>
                    </div>
                    <div class="ant-collapse-item">
                      <div class="ant-collapse-header" aria-expanded="false" aria-disabled="false" role="tab" tabindex="0">
                        <div class="ant-collapse-expand-icon">
                          <span role="img" aria-label="right" class="anticon anticon-right ant-collapse-arrow"><svg viewBox="64 64 896 896" focusable="false" data-icon="right" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                              <path d="M765.7 486.8L314.9 134.7A7.97 7.97 0 00302 141v77.3c0 4.9 2.3 9.6 6.1 12.6l360 281.1-360 281.1c-3.9 3-6.1 7.7-6.1 12.6V883c0 6.7 7.7 10.4 12.9 6.3l450.8-352.1a31.96 31.96 0 000-50.4z"></path>
                            </svg></span>
                        </div>
                        <span class="ant-collapse-header-text">
                          <div class="styles_headerQuestion__60bw7">
                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" class="styles_headerIcon__qhKt2" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                              <path d="M715.8 493.5L335 165.1c-14.2-12.2-35-1.2-35 18.5v656.8c0 19.7 20.8 30.7 35 18.5l380.8-328.4c10.9-9.4 10.9-27.6 0-37z"></path>
                            </svg>
                            Hoàn tiền như thế nào? Bao lâu thì tôi nhận lại được tiền
                            hoàn?
                          </div>
                        </span>
                      </div>
                    </div>
                    <div class="ant-collapse-item">
                      <div class="ant-collapse-header" aria-expanded="false" aria-disabled="false" role="tab" tabindex="0">
                        <div class="ant-collapse-expand-icon">
                          <span role="img" aria-label="right" class="anticon anticon-right ant-collapse-arrow"><svg viewBox="64 64 896 896" focusable="false" data-icon="right" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                              <path d="M765.7 486.8L314.9 134.7A7.97 7.97 0 00302 141v77.3c0 4.9 2.3 9.6 6.1 12.6l360 281.1-360 281.1c-3.9 3-6.1 7.7-6.1 12.6V883c0 6.7 7.7 10.4 12.9 6.3l450.8-352.1a31.96 31.96 0 000-50.4z"></path>
                            </svg></span>
                        </div>
                        <span class="ant-collapse-header-text">
                          <div class="styles_headerQuestion__60bw7">
                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" class="styles_headerIcon__qhKt2" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                              <path d="M715.8 493.5L335 165.1c-14.2-12.2-35-1.2-35 18.5v656.8c0 19.7 20.8 30.7 35 18.5l380.8-328.4c10.9-9.4 10.9-27.6 0-37z"></path>
                            </svg>
                            Tôi không có bất kỳ một thẻ khám bệnh hoặc thẻ ngân hàng
                            nào để thanh toán, vậy tôi phải làm sao?
                          </div>
                        </span>
                      </div>
                    </div>
                    <div class="ant-collapse-item">
                      <div class="ant-collapse-header" aria-expanded="false" aria-disabled="false" role="tab" tabindex="0">
                        <div class="ant-collapse-expand-icon">
                          <span role="img" aria-label="right" class="anticon anticon-right ant-collapse-arrow"><svg viewBox="64 64 896 896" focusable="false" data-icon="right" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                              <path d="M765.7 486.8L314.9 134.7A7.97 7.97 0 00302 141v77.3c0 4.9 2.3 9.6 6.1 12.6l360 281.1-360 281.1c-3.9 3-6.1 7.7-6.1 12.6V883c0 6.7 7.7 10.4 12.9 6.3l450.8-352.1a31.96 31.96 0 000-50.4z"></path>
                            </svg></span>
                        </div>
                        <span class="ant-collapse-header-text">
                          <div class="styles_headerQuestion__60bw7">
                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" class="styles_headerIcon__qhKt2" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                              <path d="M715.8 493.5L335 165.1c-14.2-12.2-35-1.2-35 18.5v656.8c0 19.7 20.8 30.7 35 18.5l380.8-328.4c10.9-9.4 10.9-27.6 0-37z"></path>
                            </svg>
                            Thông tin thanh toán của tôi có bị lộ khi tôi tiến hành
                            thanh toán trên phần mềm không?
                          </div>
                        </span>
                      </div>
                    </div>
                    <div class="ant-collapse-item">
                      <div class="ant-collapse-header" aria-expanded="false" aria-disabled="false" role="tab" tabindex="0">
                        <div class="ant-collapse-expand-icon">
                          <span role="img" aria-label="right" class="anticon anticon-right ant-collapse-arrow"><svg viewBox="64 64 896 896" focusable="false" data-icon="right" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                              <path d="M765.7 486.8L314.9 134.7A7.97 7.97 0 00302 141v77.3c0 4.9 2.3 9.6 6.1 12.6l360 281.1-360 281.1c-3.9 3-6.1 7.7-6.1 12.6V883c0 6.7 7.7 10.4 12.9 6.3l450.8-352.1a31.96 31.96 0 000-50.4z"></path>
                            </svg></span>
                        </div>
                        <span class="ant-collapse-header-text">
                          <div class="styles_headerQuestion__60bw7">
                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" class="styles_headerIcon__qhKt2" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                              <path d="M715.8 493.5L335 165.1c-14.2-12.2-35-1.2-35 18.5v656.8c0 19.7 20.8 30.7 35 18.5l380.8-328.4c10.9-9.4 10.9-27.6 0-37z"></path>
                            </svg>
                            Tôi đăng nhập đúng tên tài khoản nhưng không thanh toán
                            được?
                          </div>
                        </span>
                      </div>
                    </div>
                    <div class="ant-collapse-item">
                      <div class="ant-collapse-header" aria-expanded="false" aria-disabled="false" role="tab" tabindex="0">
                        <div class="ant-collapse-expand-icon">
                          <span role="img" aria-label="right" class="anticon anticon-right ant-collapse-arrow"><svg viewBox="64 64 896 896" focusable="false" data-icon="right" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                              <path d="M765.7 486.8L314.9 134.7A7.97 7.97 0 00302 141v77.3c0 4.9 2.3 9.6 6.1 12.6l360 281.1-360 281.1c-3.9 3-6.1 7.7-6.1 12.6V883c0 6.7 7.7 10.4 12.9 6.3l450.8-352.1a31.96 31.96 0 000-50.4z"></path>
                            </svg></span>
                        </div>
                        <span class="ant-collapse-header-text">
                          <div class="styles_headerQuestion__60bw7">
                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" class="styles_headerIcon__qhKt2" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                              <path d="M715.8 493.5L335 165.1c-14.2-12.2-35-1.2-35 18.5v656.8c0 19.7 20.8 30.7 35 18.5l380.8-328.4c10.9-9.4 10.9-27.6 0-37z"></path>
                            </svg>
                            Tôi muốn đăng ký khám online nhưng đến trực tiếp bệnh viện
                            để thanh toán được không?
                          </div>
                        </span>
                      </div>
                    </div>
                    <div class="ant-collapse-item">
                      <div class="ant-collapse-header" aria-expanded="false" aria-disabled="false" role="tab" tabindex="0">
                        <div class="ant-collapse-expand-icon">
                          <span role="img" aria-label="right" class="anticon anticon-right ant-collapse-arrow"><svg viewBox="64 64 896 896" focusable="false" data-icon="right" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                              <path d="M765.7 486.8L314.9 134.7A7.97 7.97 0 00302 141v77.3c0 4.9 2.3 9.6 6.1 12.6l360 281.1-360 281.1c-3.9 3-6.1 7.7-6.1 12.6V883c0 6.7 7.7 10.4 12.9 6.3l450.8-352.1a31.96 31.96 0 000-50.4z"></path>
                            </svg></span>
                        </div>
                        <span class="ant-collapse-header-text">
                          <div class="styles_headerQuestion__60bw7">
                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" class="styles_headerIcon__qhKt2" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                              <path d="M715.8 493.5L335 165.1c-14.2-12.2-35-1.2-35 18.5v656.8c0 19.7 20.8 30.7 35 18.5l380.8-328.4c10.9-9.4 10.9-27.6 0-37z"></path>
                            </svg>
                            Tôi nhập tài khoản thẻ nhưng bấm xác thực hoài không được?
                          </div>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
</div> -->
<!-- <script type="text/javascript" src="../public/js/FAQs.js"></script> -->


<%- include("partials/footer"); %>