@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (min-width: 768px) {
  #list-slider .carousel-item {
    margin-right: 0;
    flex: 0 0 20%;
    display: block;
  }

  #list-slider .carousel-inner {
    display: flex;
  }
}

@media (max-width: 767px) {
    .card .card-img {
        height: 17em;
    }
}

@media (max-width: 576px) {
  
}

/* Carousel Styling */
.carousel-inner {
    padding: 1em;
}

.carousel-control-prev, .carousel-control-next {
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

/* Home Page Styling */

#list-slider .card {
    margin: 0 1em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    width: 20em;
}

#list-slider .card .card-img {
    max-width: 100%;
    height: 13em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#list-slider .card img {
    max-height: 100%;
}

#list-slider {
    border-bottom: 1px dashed #154763;
}

.home-page-news {
    margin: 0 1em;
    border-top: 1px dotted #154763;
}


/*---Firefox Bug Fix --*/
.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}
/* --- Fixed Background Image --
figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0!important;
}
.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#fixed {
    background-image: url('img/mac.png');
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
} */
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1.5rem;
}


footer {
    background: #154763;
    padding: 10px 0;
    position: relative;
    z-index: 10;
    --smooth: all 0.3s ease-in;
}

/* Footer */

.footer-link {
    text-decoration: none;
}

.footer-link:hover {
    color: #a7a6a6;
    transition: var(--smooth);
    text-decoration: underline;
}

/* End of Footer */

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

body{
    font-family: "Montserrat";
    text-align: center;
    /* background-color: aquamarine; */
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;

}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.heading {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: #154763;
}

/* Navigation Bar */

.header-logo{
    max-width: 300px;
    max-height: 300px;
}

.navbar{
    padding-bottom: 0rem;
    /* position: fixed; */
    background-color:white;
    
}
.navbar-collapse {
    padding-top: 35px;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    /* padding-top: 35px;   */
}

.nav-item{
    padding: 20px 10px 0 10px; 
}

.nav-link{
    font-size: 1.25rem;
    font-family: "Montserrat";
    font-weight: 400;
    color: black;
    position: relative;
}

.nav-link::after {
    opacity: 0;
    content: '';
    height: 2px;
    width: 100%;
    background-color: #154763;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.3s;
}

.nav-link:hover::after {
    opacity: 1;
}

.navbar-toggler-icon{
    background-color: #154763;
}

    /* Button */
    .login-button{
        padding-top: 20px;
    }
    .btn{
        font-family: 'Montserrat', sans-serif;
    }
    .btn-log{
        width: 120px;
        height: 40px;
    }
    .btn-signin{
        background-color: #52D1EA;
    }
    .btn-signup{
        background-color: #66D39F;
        margin:0 10px;
    }

nav {
    border-bottom: 1px solid #154763;
}
/* End of Navbar */

.masthead{
    background-size: cover;
    min-height: 30vh;
    position: relative;
    color: #362a2a;
    text-shadow: 2px 2px 2px rgba(0,0,0,.2) ;
}

.color-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.1);
}
@media (max-width: 768px){
    .masthead{
        min-height: 20vh; 
    }
}